body {
  background-image:  url("Picture_Video/tree.jpg"), url("Picture_Video/night_sky.jpg");
  background-position: 50% 0;
  background-color: #cccccc;
}

a {
  text-decoration: none;
}

h1 {
  color: black;
  text-align: center;
  font-size: 20px;
}

h2{
  color: red;
  text-align: right;
}

p {
  font-family: verdana;
  font-size: 20px;
  text-align: left;
  padding-left: 10px;
}

img{
  position: absolute;top: 32.66%; left: 10px;
  width: 35%;
  border: 4px solid #DCFEFE;
}

iframe{
  position: absolute;top: 32.66%; left: 10px;
  width: 35%;
  height: 40%;
  frameborder: hidden;
  background-color: #E1F0F5;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.navbar {
  overflow: hidden;
  background-color: #001011;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #E1F0F5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: gray;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.boxed-headline{
  font-family: verdana;
  color: white;
  margin-top: 40px;
  border: 4px solid #DCFEFE;
  width: 98,7%;
  height: 60px;
  background-color: #001011;
  text-align: center;
  text-decoration: none;
  font-size: 45px;
}

.boxed-text-right {
  font-family: verdana;
  position: absolute;top: 30%; right: 10px;
  margin-top: 20px;
  border: 4px solid #cccc ;
  width: 60%;
  height: 40%;
  background-color: #E1F0F5;
  text-decoration: none;
}

.boxed-bottom{
  font-family: verdana;
  color: white;
  position: absolute;bottom: 0%;
  width: 98.2%;
  height: 50px;
  background-color: black;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}
